<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/estilos.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jobify</title>
</head>
<body>
    <h1>
        <a href="<%= href %>">
            <img src="/images/logo.png" alt="Jobify - by Tiago" width="300">
        </a>
    </h1>
